/**
 * Immunologists Plugin Custom CSS 
 * @author Archie M
 *
 */

/** Page title **/
.immunologists-list-page .page-title {
    display: none !important;
}

 /** Search Form **/
#immunologists-search {
    display: inline-block; 
    padding: 60px 0; 
    margin-left: calc(50% - 50vw);
    width: 100vw;
}

#immunologists-search-form {
    display: flex;
}

#immunologists-search-form .form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
    padding-right: 20px;
    border: none;
    text-align: center;
}

#immunologists-search-form .form-column:last-of-type {
    padding-right: 0;
}

#immunologists-search-form label {
    display: none;
}

#immunologists-search-form select {
    font-size: 14px;
    font-weight: 300 !important;
}

#immunologists-search-form select,
#immunologists-search-form input[type="text"],
#immunologists-search-form input[type="search"],
#immunologists-search-form input[type="text"] {
    background-color: #EEEDFB;
    border: 0;
    color: #A0A7B0;
    height: 50px;
    padding: 15px 20px;
    text-transform: none;
}

#immunologists-search-form input[type="button"] {
    background-color: transparent;
    border: 1px solid #D33937 !important;
    border-radius: 15px;
    color: #D33937 !important;
    color: #fff;
    font-size: 14px;
    font-weight: 300 !important;
    height: 50px;
    padding: 15px 20px;
    text-transform: uppercase;
    margin-top: 15px;
    text-align: center;
    transition: all 0.33s ease;
}

#immunologists-search-form input[type="button"]:hover, 
#immunologists-search-form input[type="button"]:focus {
    background-color: #D33937;
    color: #fff !important; 
}

/** Results **/
.immunologist-profile {
    border: none;
    padding: 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    height: auto;
}

.immunologist-profile img {
    max-width: 100%;
    height: auto;
}

.immunologist-profile h2 {
    margin: 0;
    padding: 0;
}


.immunologist-results {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
    font-family: 'Open Sans', sans-serif;
    color: #000 !important;
}

.immunologist-results div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.immunologist-results p {
    font-size: 14px;
    font-weight: 300 !important;
}

.immunologist-heading {
    color: #000;
}

.immunologist-heading h3 {
    color: #000;
    font-weight: bold;
    font-size: 1.4em;
}

.immunologist-heading div {
    color: #A0A7B0;
}

.immunologist-heading div:nth-child(3) {
    text-align: right;
}


/* Widths */
.immunologist-results-items {
    color: #A0A7B0;
}

.immunologist-results-items { }

.immunologist-results-items p {
    padding: 0; 
    margin: 0;
}


/* Columns widths */
.immunologist-results div, 
.immunologist-results-items div {
    width: 40%;
}

.immunologist-results div:nth-child(3), 
.immunologist-results-items div:nth-child(3) {
    text-align: right;
    width: 20%;
}

.immunologist-results div a {
    text-align: right;
}

.immunologist-profile-main {
    position: relative;
}

.immunologist-profile-main .item-logo {
    border-radius: 50%;
    display: block;
    float: left;
    min-height: 50px;
    height: 50px;
    overflow: hidden;
    width: 50px;
}

.immunologist-profile-main .item-logo img {
    transition: 0.25s all ease-in-out;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.immunologist-profile-main p {
    position: absolute;
    left: 60px;
}

#immunologists-search-results .pagination {
    margin: 40px 0 0;
}

#immunologists-search-results .pagination a {
    margin: 0 10px; 
}

/** Single **/
.single-immunologist-heading {
    padding: 60px 0 40px;
}

.single-immunologist-image .item-logo {
    border-radius: 50%;
    display: block;
    float: left;
    min-height: 120px;
    height: 120px;
    overflow: hidden;
    width: 120px;
    margin: 30px 0 20px;
}

.single-immunologist-image .item-logo img {
    transition: 0.25s all ease-in-out;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}


.single-immunologist-listing {
    display: flex;
    padding: 0 0 40px 0;
}

.single-immunologist-listing > div { 
    flex: 1;
    padding: 0 40px; 
}

.single-immunologist-listing .single-immunologists-title h1 {
    padding: 0; 
    margin: 0;
}

.single-immunologist-info .single-immunologist-image { }


.single-immunologist-info {
    
}

.single-immunologist-info form.wpcf7-form, 
.single-immunologist-info form.immunologists-contact-form {
    display: block !important;
    margin: 0 !important;
    width: 100%;
}

.single-immunologist-info form.wpcf7-form label, 
.single-immunologist-info form.immunologists-contact-form label {
    display: none;
}

.single-immunologist-info form.wpcf7-form p, 
.single-immunologist-info form.immunologists-contact-form p {
    font-size: 14px;
    font-weight: 300;
    padding: 0;
    margin-bottom: 15px;
}

.single-immunologist-info form.wpcf7-form button, 
.single-immunologist-info form.wpcf7-form input, 
.single-immunologist-info form.wpcf7-form optgroup, 
.single-immunologist-info form.wpcf7-form select, 
.single-immunologist-info form.wpcf7-form textarea, 
.single-immunologist-info form.immunologists-contact-form button, 
.single-immunologist-info form.immunologists-contact-form input, 
.single-immunologist-info form.immunologists-contact-form optgroup, 
.single-immunologist-info form.immunologists-contact-form select, 
.single-immunologist-info form.immunologists-contact-form textarea {
    width: 100%;
}

.single-immunologist-info form.wpcf7-form textarea,
.single-immunologist-info form.wpcf7-form input[type="text"], 
.single-immunologist-info form.wpcf7-form input[type="email"], 
.single-immunologist-info form.wpcf7-form input[type="tel"], 
.single-immunologist-info form.immunologists-contact-form textarea,
.single-immunologist-info form.immunologists-contact-form input[type="text"], 
.single-immunologist-info form.immunologists-contact-form input[type="email"], 
.single-immunologist-info form.immunologists-contact-form input[type="tel"] {
    background-color: #ffffff;
    line-height: 5rem;
    padding: 0 2.5rem;
    outline: none;
    border: 1px solid #ddd;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
}

.single-immunologist-info form.wpcf7-form input[type="tel"],
.single-immunologist-info form.wpcf7-form input[type="text"], 
.single-immunologist-info form.wpcf7-form input[type="email"],
.single-immunologist-info form.immunologists-contact-form input[type="tel"],
.single-immunologist-info form.immunologists-contact-form input[type="text"], 
.single-immunologist-info form.immunologists-contact-form input[type="email"] {
    height: 5rem;
}

.single-immunologist-info form.wpcf7-form textarea, 
.single-immunologist-info form.immunologists-contact-form textarea {
    height: 15rem;
}

.single-immunologist-info button, 
.single-immunologist-info [type="button"], 
.single-immunologist-info [type="reset"], 
.single-immunologist-info [type="submit"],
.single-immunologist-info form.wpcf7-form input[type="submit"] {
    background-color: transparent;
    line-height: 54px;
    height: 54px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #d72128;
    font-size: 13px;
    display: inline-block;
    color: #d72128;
    padding: 0 4.5rem;
    border-radius: 15px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    transition: all 0.33s ease;
}

.single-immunologist-info button:hover, 
.single-immunologist-info [type="button"]:hover, 
.single-immunologist-info [type="reset"]:hover, 
.single-immunologist-info [type="submit"]:hover,
.single-immunologist-info form.wpcf7-form input[type="submit"]:hover {
    background-color: #db373d;
    border: 1px solid #db373d;
    color: #fff;
    opacity: 0.8;
}


.single-immunologist-about h3 {
    margin-bottom: 40px;
}

.single-immunologist-about p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 1.6rem;
}

.single-immunologist-about p .fa {
    background: #FEF0E6;
    border-radius: 50%;
    color: #db373d;
    height: 40px;
    margin: -5px 0 0 0;
    width: 40px;
    padding: 10px 10px;
    position: absolute;
    font-size: 20px;
}

.single-immunologist-about p span {
    display: inline-block;
    padding-left: 50px; 
}

.back-to-listing-wrapper {
    margin: 0 0 80px;
    display: inline-block;
    width: 100%;
}

.back-to-listing-wrapper a {
    background-color: transparent;
    line-height: 54px;
    height: 54px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #d72128;
    font-size: 13px;
    display: inline-block;
    color: #d72128;
    padding: 0 4.5rem;
    border-radius: 15px;
    transition: all 0.33s ease;
}

.back-to-listing-wrapper a:hover, 
.back-to-listing-wrapper a:focus {
    background-color: #d72128;
    color: #fff;
}


@media screen and (max-width:991px) {

    #immunologists-search-form {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    #immunologists-search-form .form-column {
        width: 33.33%;
    }
}


@media screen and (max-width:767px) {

    .single-immunologist-listing {
        display: inline-block !important;
        width: 100%;
    }

    .single-immunologist-listing > div {
        display: block;
        width: 100%;
    }

    .single-immunologist-listing > div {
        padding: 0 20px;
    }

}



@media screen and (max-width:680px) {

    #immunologists-search-form .form-column {
        width: 50%;
    }

    #immunologists-search-form input[type="button"] {
        width: calc(100% - 20px);
    }

    .immunologist-heading {
        display: none !important;
    }

    .immunologist-results {
        display: inline-block;
        width: 100%;
    }

    .immunologist-results div {
        margin: 5px 0;
        width: 100%;
    }

    .immunologist-results div:nth-child(3), 
    .immunologist-results-items div:nth-child(3) {
        width: 40%;
    }

    .immunologist-results div a {
        text-align: left;
    }

}


@media screen and (max-width:480px) {

    #immunologists-search-form .form-column {
        width: 100%;
    }

    #immunologists-search-form .form-column {
        padding-right: 0;
    }

    #immunologists-search-form input[type="button"] {
        width: 100%;
    }

    .immunologist-results div:nth-child(3), 
    .immunologist-results-items div:nth-child(3) {
        text-align: left;
        width: 100%;
    }

    .immunologist-profile-main p {
        position: relative;
        left: 0;
    }

    .single-immunologist-listing > div {
        padding: 0 5px;
    }

}